@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 13px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1d627f;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #38bdf8;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.custom-scrollbar-main::-webkit-scrollbar {
  width: 15px;
}

.custom-scrollbar-main::-webkit-scrollbar-track {
  background-color: #050505;
}

.custom-scrollbar-main::-webkit-scrollbar-thumb {
  background-color: #34496b;
}
